@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-header  text-4xl font-normal !text-titleColor  md:text-6xl;
  }
  h2 {
    @apply font-header text-3xl font-normal !text-titleColor  md:text-5xl;
  }
  h3 {
    @apply font-body text-lg font-semibold text-titleColor  md:text-xl;
  }
  h4 {
    @apply font-body text-lg font-medium text-baseColor;
  }
  h5 {
    @apply font-body text-base font-semibold text-baseColor;
  }
  p,
  span,
  ul,
  li,
  legend,
  div {
    @apply font-body text-sm font-normal text-baseColor  sm:text-base;
  }
  b {
    @apply font-body text-sm text-baseColor  sm:text-base;
  }
  button {
    @apply text-base;
  }
  a {
    @apply text-sm text-primary  hover:underline sm:text-base;
  }
  li > a {
    @apply text-base text-primary  hover:underline sm:text-lg;
  }
  small {
    @apply text-sm text-baseColor;
  }
  ul li::marker {
    @apply text-titleColor;
  }

  p:contains('@') {
    @apply !lowercase first-letter:!lowercase;
  }
  input:contains('@'),
  optgroup:contains('@'),
  select:contains('@'),
  textarea:contains('@'),
  div:contains('@') {
    @apply !lowercase first-letter:!lowercase;
  }

  input,
  optgroup,
  select,
  textarea {
    @apply !text-baseColor;
  }
  ::placeholder,
  .react-select__placeholder,
  .css-1jqq78o-placeholder {
    @apply !font-body text-base tracking-normal !text-baseColor text-opacity-60;
  }

  /* CSS to hide the title element on hover */
  svg title:hover {
    visibility: hidden !important;
  }
  /* CSS to hide the title element on hover */
  button svg title {
    display: none;
  }

  svg title::-webkit-details-marker {
    display: none;
  }

  @font-face {
    font-family: 'fontello';
    src: url('../src/assets/fonts/fontello.eot?31784277');
    src: url('../src/assets/fonts/fontello.eot?31784277#iefix')
        format('embedded-opentype'),
      url('../src/assets/fonts/fontello.woff2?31784277') format('woff2'),
      url('../src/assets/fonts/fontello.woff?31784277') format('woff'),
      url('../src/assets/fonts/fontello.ttf?31784277') format('truetype'),
      url('../src/assets/fonts/fontello.svg?31784277#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

.theme-default {
  --pattern: url('./assets/images/Maia_header.webp');
  --tick: url('./assets/images/tick-white.svg');
  --primary: 81 121 111;
  --primary-content: 255 255 255;
  --secondary: 54 79 82;
  --secondary-content: 255 255 255;
  --accent: 55 165 144;
  --accent-content: 255 255 255;

  --button-primary: 81 121 111;
  --btn-primary-content: 255 255 255;
  --btn-primary-states: 81 121 111;
  --button-secondary: 255 255 255;
  --btn-secondary-content: 81 121 111;
  --btn-secondary-states: 3 60 124;
  --navbar: 54 79 82;
  --navbar-content: 255 255 255;
  --header: 248 248 248;
  --header-content: 54 79 82;
  --header-icon: 54 79 82;

  --baseColor: 49 49 49;
  --titleColor: 81 121 111;
  --body: 248 248 248;
  --card: 248 248 248;

  --neutral: 255 255 255;
  --outlineColor: 191 191 191;
  --info: 37 99 235;
  --success: 18 110 52;
  --warning: 255 95 73;
  --error: 220 38 38;
  --disabled: 233 236 239;
  --transparent: transparent;
  --mood-verypoorly: #a20000;
  --mood-poor: #df5757;
  --mood-alright: #1b67bc;
  --mood-well: #17a2b8;
  --mood-verywell: #37a590;
  --font-header: 'Montserrat', 'sans-serif';
  --font-body: 'Montserrat', 'sans-serif';
}
